@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-overlay {
  --glow-size: 8rem;

  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition:
    0.4s mask ease,
    opacity 0.4s ease-in-out;

  will-change: mask;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: blue;
  bottom: 100px;
}

.parallax {
  overflow: hidden;
  letter-spacing: -2px;
  line-height: 0.8;
  margin: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax .scroller {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 64px;
  display: flex;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
}

.parallax span {
  display: block;
  margin-right: 30px;
}
