@tailwind base;
@tailwind components;
@tailwind utilities;

.glow-overlay {
  --glow-size: 8rem;

  position: absolute;
  z-index: 1;
  inset: 0;
  pointer-events: none;
  user-select: none;
  opacity: var(--glow-opacity, 0);
  mask: radial-gradient(
    var(--glow-size) var(--glow-size) at var(--glow-x) var(--glow-y),
    var(--glow-color) 1%,
    transparent 50%
  );
  transition: .4s mask ease, opacity .4s ease-in-out;

  will-change: mask;
}

.swiper-button-prev,
.swiper-button-next {
  //color: red;
}

.swiper-slide {
  width: 60% !important;
}